@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body{
    background-image: url("..//css/moroccan-flower.png")
}

header{
    width: 100%;
    font-style: italic;
}

header img{
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* ------------------------------------ */

/* -------------------------------------- */

.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(245, 223, 183, 0.6);
    z-index: 1;
    display: none;
}

#open a{
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
    border-radius: 10px;
}

#open a:hover{
    background: black;
    color: white;
    padding: 3px 8px;
}

#open-1 a{
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
    border-radius: 10px;
}

#open-1 a:hover{
    background: black;
    color: white;
    padding: 3px 8px;
}

.modal-content{
    width: 60%;
    margin: 50px auto;
    text-align: center;
    position: relative;
    animation-name: modal;
    animation-duration: 0.5s;
    background-image: url("..//css/moroccan-flower.png");
}

.modal-header{
    position: relative;
    font-size: 25px;
    padding: 10px 0;
}

.modal-body{
    padding: 2em;
}

.modal-body img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}
.modal-body h3{
    font-size: 20px;
    margin-top: 20px;
}

.modal-body p{
    margin-top: 20px;
    font-size: 20px;
}
strong{
    color: red;
}

#close{
    position: absolute;
    top: -1.0em;
    right: -3em;
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    color: black;
}

.modal-1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.modal-content-1{
    width: 60%;
    margin: 80px auto;
    text-align: center;
    position: relative;
    animation-name: modal;
    animation-duration: 0.5s;
}

.modal-header-1{
    position: relative;
}

.modal-body-1{
    background-image: url("..//css/moroccan-flower.png");
    padding: 5em;
}


.modal-body-1 ul li{
    line-height: 50px;
    font-size: 30px;
    color: black;
    list-style: none;
}

.modal-body-1 ul li a{
    text-decoration: none;
    color: black;

    transition: 0.3s ease;
    border-radius: 15px;
}

.modal-body-1 ul li a:hover{
    color: white;
    background: black;
    padding: 5px 30px;
}


#close-1{
    position: absolute;
    top: .75em;
    right: 2em;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
}









.btn-0{
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 5px 25px;
    background: rgb(168, 168, 245);
    border-radius: 10px;
    transition: 0.3s ease;
}

.btn-0:hover{
    color: white;
}

.heading{
    width: 100%;
    padding: 40px 10px 40px 10px;
    text-align: center;
    font-style: italic;
}

.heading p{
    margin-top: 1em;
}

/* --------------------- */

/* --------top3---------- */

.title{
    width: 15%;
    text-align: center;
    font-style: italic;
    margin: 1em auto 0 auto;
    padding: 8px 0;
    border-radius: 15px 0 15px 0;
    color: white;
    background: rgb(230, 93, 93);
    letter-spacing: 3px;
}

.top-3{
    width: 50%;
    padding: 40px 0;
    margin: 2em auto 2em auto;
    text-align: center;
    background: rgb(215, 241, 241,0.5);
    border-radius: 20px;
}
/* strong{
    color: red;
} */


.top-3 img{
    object-fit: cover;
    width: 350px;
    height: 250px;
    margin: 20px auto 0 auto;
    border-radius: 10px;
}

.top-3 p{
    margin-top: 2em;
    line-height: 30px;
}







/* ----------------------- */

/* --------grid-item--------- */
.grid-item{
    font-style: italic;
    margin: 4em auto 4em auto;
    display: grid;
    width: 80%;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.item{
  text-align: center;
  line-height: 30px;
}

.item img{
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

.item img:hover{
    opacity: 0.7;
}


.btn{
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 0 25px;
    background: rgb(168, 168, 245);
    border-radius: 10px;
    transition: 0.3s ease;
}

.btn:hover{
    color: white;
}

/* ---------------------------------- */

/* -------------form------------------- */

.form{
    width: 60%;
    margin: 2em auto 2em auto;
    font-style: italic;
    background: #eaeaea;
    border-radius: 10px;
}

.form h2{
    text-align: center;
    padding: 30px 0;
}

.container-1{
    display: flex;
    width: 90%;
    margin: 2em auto 0 auto;
    /* border: 1px solid red; */
    padding: 30px;
}

.name{
    flex: 1;
    align-items: center;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.name-2{
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.block-1{
    display: block;
    padding: 5px 20px;
    height: 30px;
}



.order-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    margin-top: -2em;
    align-items: center;
    justify-content: space-around;
}


.food{
    width: 80%;
    line-height: 60px;
    display: flex;
}


.block-2{
    padding: 4px;
    width: 150px;
}

.option{
    width: 90%;
    margin: auto;
}


.order-btn{
    margin-top: 2em;
}

.btn-1{
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 5px 25px;
    background: rgb(168, 168, 245);
    border-radius: 10px;
    transition: 0.3s ease;
}
.ccc{
    width: 40px;
    padding: 0,10px;
}

.btn-1:hover{
    color: white;
}



@media(max-width:768px){

    .modal-content{
        width: 80%;
    }

   .modal-header{
       font-size: 26px;
   }
    
    .modal-body img{
        height: 200px;
    }

    .modal-body p{
        font-size: 18px;
    }

    #close{
        font-size: 30px;
        right: 1em;
    }

    .modal-content-1{
        width: 80%;
    }

    .btn-0{
        padding: 5px 10px;
    }

    .title{
        width: 50%;
    }
    
    .top-3{
        width: 75%;
    }
    
    .top-3 img{
        width: 300px;
    }
    
    .grid-item{
        grid-template-columns: 1fr 1fr;
    }
    
     .container-1{
         display: grid;
         grid-template-columns: 1fr 1fr;
         padding: 0;
    }

    .order-area{
        margin-top: 2em;
    }
    

    .food{
        display: inline-block;
        line-height: 40px;
        align-items: center;
        text-align: center;
        padding: 0 10px;
    }

    .form{
        width: 90%;
   } 
}

@keyframes modal{
    from{
        top: -300px;
        opacity: 1;
    }

    to{
        top: 0;
        opacity: 1;
    }
}






















